* {
  font-family: "Kanit", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
}

.block {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  opacity: 0; /* เริ่มต้นด้วยความโปร่งใสเป็น 0 */
  transition: opacity 1s; /* อนิเมชันเฟดอินใน 1 วินาที */
}

.video {
  justify-content: center;
}

.gif {
  justify-content: center;
}

h1 {
  text-align: center;
}

.block .fr{
  border: none;
  justify-content: center;
}

.topic{
  font-size: 48px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 10px;
}
